* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #31576a;
    ;
    color: white;
}

a {
    color: #7dcbf0;
}

table {
    color: white;
}

.fixed-table-container tbody .selected td {
    background-color: #404040;
}

header {
    height: 90px;
    background-color: #31526a;
    ;
}

.bg-dark {
    background-color: #31526a !important;
}

.hidden-sm-down {
    padding-left: 7px;
}

input[disabled]+span {
    opacity: 0.3;
}

.pagination-info {
    color: white;
}

.page-item.active .page-link {
    background-color: #353535;
    border-color: #353535;
}

.page-link {
    color: black;
    border: 1px solid #353535;
}

.form-control {
    margin-top: 10px;
}

.btn-secondary {
    background-color: #31526a;
    border-color: #fff !important;
}

.form_title {
    margin-top: 30px;
    color: wheat;
    font-size: 20px;
    text-shadow: 1px 1px burlywood;
    font-style: italic;
}

.alert-warning {
    margin-top: 30px;
    background-color: #31526a;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    border-color: #fff;
}

.alert-warning p {
    margin: 0;
}


/*Menue*/

#menu {
    color: white;
    padding-left: 7px;
    font-size: 20px;
}

#sub {
    font-size: 15px;
    padding-left: 7px;
    color: white;
}

.btn {
    margin: 10px 1px;
}

.btn a {
    color: inherit;
}

.btn a:hover {
    color: inherit;
    text-decoration: none;
}

table a {
    display: inline-block;
    color: #7dcbf0;
    font-family: arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.0);
}

a:hover {
    color: #31526a;
}

h1 {
    font-style: italic;
}

.img_header {
    vertical-align: middle;
    border-style: none;
    max-height: 50%;
    border-radius: 10px;
    height: 100px;
    margin-left: 15px;
}

.img_titre {
    border-style: none;
    margin-top: 60px;
    width: 80%;
}

.row-stagiaire {
    display: flex;
    margin-left: 70px;
    align-items: center;
}

.col-small {
    flex: 0 0 12%;
    max-width: 12%;
}

.small-div {
    padding-right: 5px;
}

.col-grand {
    flex: 0 0 35%;
    max-width: 35%;
    padding-left: 5px;
}

.ajax {
    background: #31576a;
    border: none;
    color: #7dcbf0;
}

@media (max-width: 1024px) {
    .img_header {
        max-height: 75px;
    }
    .navbar {
        justify-content: start;
    }
    #sidebar {
        flex: 1 0 29%;
    }
    #menu {
        width: 185px;
    }
}